*{
    margin: 0
}
.main{
    
    background: rgb(176, 154, 136);
    background: linear-gradient(135deg, rgb(223, 75, 30) 31%, rgba(19,175,165,1) 61%);
    height: max-content;
   
}
.head{
    font-size: 2rem;
    text-shadow: 2px 2px rgb(255, 255, 255);
    margin-left: 3rem;
}
.allCard{
display: grid;
grid-template-columns: 1fr 1fr
}
.Card{
display: flex;
align-items: center;
justify-content: space-around;
    border: 1px solid white;
    margin: 2rem;
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    padding: 2rem;
    /* width: 60%; */
    background: rgb(213,29,29);
    background: linear-gradient(63deg, rgba(213,29,29,1) 0%, rgba(69,65,65,1) 41%, rgba(25,8,37,1) 80%);
    
    color:  white;
  
    border-radius: 10px;
}

.Card button{
    height: 5vh;
    width: 10vw;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-shadow: 1.2px 1px black;
}

@media only screen and (max-width:700px){
    .main h2{
        font-size: 18px;
    }
    .allCard{
        display: flex;
        flex-direction: column;
    }
    .Card button{
        height: 9vh;
        width: 19vw;
    }
}