body{
  background-image: url('https://media.istockphoto.com/id/613784002/photo/modern-high-speed-red-passenger-commuter-train-railway-station.jpg?s=612x612&w=0&k=20&c=3NM0jUTK5h2u4ogEplWUupC14hrj7MG_CjPS1JXS2Og=');
 
  background-size: cover;
}
.App {
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
  /* margin: 2px  solid black; */
  float:inline-start
  /* list-style:none; */

}
/* h2{
  display:flex ;
  justify-content:flex-start;
} */

.App ul{
  list-style:none ;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  color: orangered;
}

